[Unit]
Description=cosmos-node-exporter
After=network-online.target

[Service]
User=root
ExecStart=/root/go/bin/cosmos-node-exporter -host tcp://127.0.0.1:26657
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target